<div class="card all-card">
  <div class="card align-content-center one-card" *ngFor="let chirurgie of ModelChirurgie" >
    <h4>{{chirurgie.name}}</h4>
    <div class="row align-content-center content-info">
      <div class="image">
        <img src="{{chirurgie.image}}">
      </div>
      <div class="content" >
        <p>{{chirurgie.description}}</p>
      </div>

    </div>
    <h5>La  {{chirurgie.name}} ,
       {{chirurgie.duration?.days}} jours ,{{chirurgie.duration?.hours}} heurs,{{chirurgie.duration?.minutes}} minutes,
      {{chirurgie.duration?.seconds}} seconds
    </h5>
    <div class="row col-md-12">
      <div class="btn2 col-md-6">
        <button    (click) = "deleteChirurgie(chirurgie)" >Supprimer</button>
      </div>

      <div class="btn col-md-6">
        <button (click) = "updateChirurgie(chirurgie.id)"  data-toggle="modal" data-target="#exampleModalCenter">Modifier</button>
      </div>

    </div>

    <!-- Update chirurgie-->


<!-- Modal
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Chirurgie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body">
        <form  [formGroup]="ChirurgieForm"
              (ngSubmit)="updatedChirurgie()" >
          <div class="form-group">
            <label for="exampleFormControlInput1">Type chirurgie</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nomChirurgie">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description de chirurgie</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
          </div>
          <div class="form-group mt-4">
           <div> <label for="exampleFormControlFile1"> image</label></div>
            <img [src]="imgURL" style="width: 150px; height:100px ; margin-bottom: 2rem">
            <input type="file" accept="image/*" (change)="onSelectFile($event)"   class="form-control-file" id="exampleFormControlFile1" formControlName="imageChirurgie">
          </div>
          <div class="form-group mt-4">
            <label for="exampleFormControlInput3">Durée de chirurgie</label>
            <input type="text" class="form-control" id="exampleFormControlInput3"  formControlName="dureeChirurgie">
          </div>

          <div class="row" style="margin: auto">
            <button type="reset" class="btn3" data-dismiss="modal"  id="closebtn">Annuler</button>
            <button type="submit" class="btn4 " >Enregister</button>
          </div>


        </form>



      </div>

    </div>
  </div>
</div>
-->

  </div>

</div>
