<app-header></app-header>
<section class="aboutUs">
  <h2>Pourquoi nous choisir </h2>
  <div class="main">
    <div class="img">
      <img src="../assets/image/asiatique-jeune-groupe-principal-hopital-professionnel.jpg">
    </div>
    <div class="parag">
      <p>L’objectif principal de notre application est devenu le plus utiliser dans l’Afrique,
      <p> de permettre aux patients de trouver tout ce qu’ils veulent dans le site,
       ils trouvent tous les types des chirurgies avec des médecins très compétant en Tunisie,
       ils prendre des rendez-vous en ligne qu’il est approuvé par le médecin et l’administrateur,
       <p> après un dossier médical sera créé contenant les données relatives au patient y compris le type de chirurgie
      et le médecin spécialiste choisi.L’objectif principal de notre application est devenu le plus
      utiliser dans l’Afrique, de permettre aux patients de trouver tout ce qu’ils veulent dans le
      site,
          <p>ils trouvent tous les types des chirurgies avec des médecins très compétant en Tunisie,
      ils prendre des rendez-vous en ligne qu’il est approuvé par le médecin et l’administrateur,
      après un dossier médical sera créé contenant les données relatives au patient y compris le type
            de chirurgie et le médecin spécialiste choisi.</p>


    </div>

  </div>
</section>
<section class="mainContent">
  <div class="titleh2">
    <h2>Qui nous sommes?</h2>
  </div>
<div class="allContent">
  <div class="icons">

    <div class="contenticon">
      <div class="image">
      <img src="../assets/image/doc.png" class="rounded-circle">
      </div>
      <div class="statq">
        <p [@countAnimation]="doctorCount" class="count" >{{ doctorCount }} </p>
        <h3 >Doctors</h3>
      </div>

    </div>
    <div class="contenticon">
      <div class="image">
        <img src="../assets/image/chirugie.png" class="rounded-circle">
      </div>
      <div class="statq">
        <p>{{chirurgieCount}}</p>
        <h3>Chirurgies</h3>
      </div>

    </div>
    <div class="contenticon">
      <div class="image">
        <img src="../assets/image/People-Patient-Male-icon.png"  class="rounded-circle">
      </div>
      <div class="statq">
        <p >{{patientCount}}</p>
        <h3>Patients</h3>
      </div>

    </div>
    <div class="contenticon">
      <div class="image">
        <img src="../assets/image/clnq.png"  class="rounded-circle">
      </div>
      <div class="statq">
        <p>3</p>
        <h3>Cliniques</h3>
      </div>

    </div>
  </div>

  <div class="imgclnq">
    <img src="../assets/image/modern-equipment-in-operating-room-medical-devices-for-neurosurgery.jpg">
  </div>
</div>
</section>

<section class="mainContent2">
  <div class="titleh2">
    <h2>Que disent les gens ?</h2>
  </div>


</section>
