
<section>
  <div class="card"  *ngFor="let medecin of medecins">
    <div class="img-bx">
      <img src="{{medecin.image}}" alt="img" />
    </div>
    <div class="content">
      <div class="detail">
        <h2>{{medecin.firstname}} {{medecin.lastname}}<br /><span>{{getSpecialiteWithoutBrackets(medecin.specialite)}}</span></h2>
        <ul class="sci">
          <li class="btn">
            <button (click)="voirDetails(medecin.id)">Voir detail</button>
          </li>


        </ul>
      </div>
    </div>
  </div>
</section>


