<div class="card all-card">
  <h1> Tous Nos Services Chirurgicaux</h1>
  <div class="card align-content-center one-card" >
    <h4>Chirurgie des valves cardiaque</h4>
    <div class="row align-content-center content-info">
      <div class="image">
        <img src='../assets/image/CHIRURGIE DES VALVES CARDIAQUES.jfif'>
      </div>
      <div class="content">
         <p>La chirurgie valvulaire concerne les opérations de remplacement ou de
           réparation des différentes valves du cœur. Relativement rares avant 60 ans,
           les affections des valves se développent avec l'âge. Et lorsque l'une d'elles est abîmée,
           le ou la patient-e peut voir apparaître des troubles l'affectant dans sa vie quotidienne.
           C'est à ce moment-là qu'une opération des valvules est envisagée.Selon les cas, on procède
           à la réparation chirurgicale de la valve cardiaque existante, à son élargissement forcé par ballonnet
           ou à son remplacement
           par une valve artificielle ou une valvule biologique (tissus d'origine humaine ou animale)</p>
      </div>

    </div>
    <h5>La chirurgie valvulaire 4000 euros – 5 nuits / 6 jours</h5>
    <div class="btn">
      <button>Voir Plus</button>
    </div>
  </div>

  <div class="card align-content-center one-card"  style="margin-top: 1rem">
    <h4> chirurgie ophtamologique</h4>
    <div class="row align-content-center content-info">

      <div class="content">
        <p>La chirurgie ophtalmologique désigne l’ensemble des opérations pratiquées sur les yeux.
          Le chirurgien ophtalmologue peut intervenir sur le globe oculaire, les voies lacrymales,
          sur l’orbite ou encore les paupières. L’opération de la cataracte est l’intervention la plus
          fréquemment pratiquée chaque année en France et dans le monde. La chirurgie réfractive
          (opérations laser des yeux), est utilisée pour ne plus porter de lunettes. Les interventions de paupières
          (chirurgies, laser, injections) peuvent être réalisées à visée esthétique, réparatrice ou fonctionnelle.
          Les interventions de la rétine, du glaucome,
          du strabisme et de la cornée sont plus confidentielles</p>
      </div>
      <div class="image">
        <img src='../assets/image/la chirurgie ophtamologique3.jfif'>
      </div>
    </div>
    <h5 style="margin-top:3rem">La chirurgie ophtamologique 20000 euros – 3 nuits / 4 jours</h5>
    <div class="btn">
      <button>Voir Plus</button>
    </div>
  </div>

</div>
