.all-card{
  height: auto;
  margin: auto;
  text-align: center;
  border: none;
}
h1{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.one-card{
  width: auto;
  height: auto;
  margin: auto;
  background-color: #F6FCFB;
  border: none;
  border-radius: 15px;
}
.content-info{

  width: auto;
  height: auto;
}

.image{
  width: 20rem;
  height: 16rem;
  margin-left: 1rem;
  overflow: hidden;
  border-radius: 15px;
}
img:hover{

    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: 1s;
    cursor: col-resize;


}
.image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content{
  width: 28rem;
  height: 16rem;
  text-align: justify;
  margin-right: 1rem;
}
.btn button{
  width: 14rem;
  height: 2rem;
  text-align: center;
  margin-left: 4rem;
  border: none;
  border-radius:15px;
  background-color: #1580EB;
  color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.btn button:hover{
  background-color:white ;
  color: #1580EB;
  transition: 1s;
  border: 1px solid #1580EB;
}
h5{
margin-top: 2rem;
  text-align: left !important;
  color: #1580EB;
}
