<div class="container col">
  <h2>Listes des comptes Patients</h2>

  <table class="table table-success table-striped">
    <tr>
    <td>
      Nom et Prénom
    </td>
      <td>Email</td>
      <td>Sexe</td>
      <td>Action</td>
    </tr>
    <tr *ngFor="let patient of patient" style="background-color: white ; color: dimgrey">
      <td>{{patient.firstname}} {{patient.lastname}}</td>
      <td>{{patient.email}}</td>
      <td>{{patient.gender}}</td>
      <td>
        <button class="btnSup" (click)="deleteUser(patient.id)">Supprimer</button>
        <button class="btnActv" (click)="activatePatient(patient.id)">Activer</button>
      </td>

    </tr>
  </table>



</div>

