.one-card{
  width: 20rem;
  height: 10rem;
  margin-left: 1rem;
  margin-top: 1rem;

}
.btnActv {
  width: 6rem;
  height: 2rem;
  background-color: #5e72e4;
  color: black;
  border-radius: 8px;
  text-align: center !important;
  border: none;
  margin-left: 1rem;

}
.btnAll{
  border: none;
}
.btnActv:hover{
  color: #0066FF;
  background-color: transparent;
  border: 1px solid #0066FF;
  transition: 1s;
}
.image{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.image img{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
h6{
  color: #5e72e4;
}
.btnSup{
  background-color: lightcoral;
  color: black;
  width: 6rem;
  height: 2rem;
  text-align: center !important;
  border-radius: 8px;
  border: none;


}
.btnSup:hover{
  color: black;
  background-color: transparent;
  transition: 1s;
}


