<app-header></app-header>
<div class="col allCard>"  >

  <div class="image">
    <img src="">
  </div>
  <div class="card infotxt" >
    <h4>.firstnam lastname</h4>
    <h5>specialite</h5>

  </div>

  <div class="col content">
    <div class="card parcours">
      <h5 style="text-align: center ; color: #3F6589">Parcours</h5>


      <p></p>

    </div>

    <div class="card parcours" style="text-align: justify ; margin-top: 1rem;">

      <h5 style="text-align: center ; color: #3F6589 ;">Expérience Professionnelle</h5>

      <p ></p>
    </div>

  </div>
  <div class="btn">
    <button onclick="window.location.href ='signPatient';" >Prendre Rendez-vous</button>
  </div>

</div>
