
<footer>
  <div class="row rowaall">

    <div class="row rowcard" >
      <h4>CATÉGORIES</h4>
      <div class="card content" >
        <ul>
          <li><a>chirurgie cardio vasculaire</a></li>
          <li><a>chirurgie ophtalmologique</a></li>
          <li><a>Chirurgie orthopédique</a></li>
        </ul>
      </div>
      <div class="card content">
        <ul>
          <li><a>chirurgie de l’obésité</a></li>
          <li><a>chirurgie digestive</a></li>
          <li><a>La chirurgie dentaire</a></li>
        </ul>
      </div>
    </div>
   <!--- <div class="card contentSejours" >
      <h4>Séjours Médicale</h4>
    </div>-->
  </div>
  <div style="width:100% ; background-color:#EAF9F8; height: 4rem; text-align: center; padding: 1rem">
    <p style="color: #001B35; ">Made with  &#10084;&#65039; by	 Hadil Hammami   All Rights reserved © 2023.</p>
  </div>
</footer>




