footer{
  width: 100%;
  height: auto;
  background-color: #001B35;
  color: white;
  margin-top: 4rem;

}

.content{
  width: auto;
  height: auto;
  background-color: transparent;
  border:none;
  padding: 1rem;
  margin: auto;

}
.content li{
  margin-top: 1rem;
}

h4{margin-left: -2rem;
}
.rowcard{
  text-align: center;
  width: 50%;
  height: auto;
  margin-left: 4rem;
}

.rowaall{
  width: 100%;
  padding-left: 20rem;
  padding-top: 2rem;
}
.contentSejours{
  width: auto;
  height: 15rem;
  border:none;
  background-color: transparent;
  margin-left: 2rem;
}
