footer{
  width: 100%;
  height: auto;
  background-color: #001B35;
  color: white;
  margin-top: 4rem;
}
.content{
  width: 15rem;
  height: 15rem;
  background-color: transparent;
  border:none;
  padding: 1rem;

}
.content li{
  margin-top: 1rem;
}

h4{
 // margin-left: 8rem;
}
.rowcard{
  text-align: center;
  width: 50%;
  height: auto;
  margin-left: 4rem;
}

.rowaall{
  width: 100%;
}
.contentSejours{
  width: auto;
  height: 15rem;
  border:none;
  background-color: transparent;
  margin-left: 2rem;
}
