

<div class="main-container">
  <span class="openNav"  id="openbtn" style="font-size:30px;cursor:pointer ; display: none" (click)="openNav()">&#9776;</span>
  <span class="closebtn" (click)="closeNav()" id="closebtn" style="display: none !important;">&times;</span>
  <div class="row min-height-600 no-flex-wrap" >

    <div class="card col-md-2  mr-2 leftCard" style="margin-top: 0.5rem" id="Sidenav" >

      <div class="col">
        <div class="image" *ngIf="infoMed">
          <img src="{{infoMed.image}}">
        </div>
        <h5 style="margin-top: 1rem">Dr {{infoMed.firstname}} {{infoMed.lastname}}</h5>
        <h6>{{getSpecialiteWithoutBrackets(infoMed.specialite)}}</h6>
        <div>
         <ul>
           <li><a href="showProfileMedecin"><i class="bi bi-person-fill" style="color: white; margin-right: 0.5rem"></i>Profile</a></li>
           <li><a href="messagesM"><i class="bi bi-envelope-fill" style="color: white; margin-right: 0.5rem"></i>Demande Rendez-vous</a></li>
           <li><a href="acceptedRdv"><i class="bi bi-envelope-fill" style="color: white; margin-right: 0.5rem"></i>Rendez-vous Accepté</a></li>
           <li><a href="dashboardMed"><i class="bi bi-pie-chart-fill" style="color: white; margin-right: 0.5rem"></i>Dashboard</a></li>
           <li><a href="parametreMed"><i class="bi bi-gear-fill" style="color: white; margin-right: 0.5rem"></i>Paramètres</a></li>
           <li style="margin-top: 5rem"><a (click)="logOut()"><i class="bi bi-box-arrow-left" style="color: white; margin-right:5px" ></i>Déconnexion</a></li>
         </ul>
        </div>
      </div>

    </div>

    <div class="card col-md-10 pl-0 pr-0 background-grey border-no main-content"   >

        <div class="card min-height-480
        mb-2 mt-2 " style="background-color: #FBFBFB">

          <router-outlet></router-outlet>

        </div>

    </div>
  </div>
</div>

