<div class="col allCard>"  *ngIf="medecin">

  <div class="image">
    <img src="{{medecin.image}}">
  </div>
  <div class="card infotxt" >
  <h5>{{medecin.firstname}} {{medecin.lastname}}</h5>
  <h6>{{medecin.specialite}}</h6>
  <address>{{medecin.ville}}</address>
  <p><b>Téléphone :</b> {{medecin.telephone}}</p>
  <!--<p><b>Etablissement :</b> clinique l Ben arous</p>-->
  </div>

    <div class="col content">
  <div class="card parcours">
   <h5 style="text-align: center ; color: #3F6589">Parcours</h5>


    <p >{{medecin.parcours}}</p>

  </div>

  <div class="card parcours" style="text-align: justify ; margin-top: 1rem;">

    <h5 style="text-align: center ; color: #3F6589 ; margin-top: 1rem;">Expérience Professionnelle</h5>

    <p>Diplôme de docteur en médecine – Juin 2005 faculté de médecine de Tunis</p>
  </div>

  <div class="row btns">
    <button class="btn1">Supprimer</button>
    <button class="btn2">Valider</button>
  </div>
  </div>

</div>
