<div class="col allCard>" >

  <div class="image">
    <img src="../assets/image/medcin4.jfif">
  </div>
  <div class="card infotxt">
  <h5>Ben Hassen Mohammed </h5>
  <h6>chirurgie des valves cardiaques</h6>
  <address>tunisie bardou</address>
  <p><b>Téléphone :</b> 24308496</p>
  <p><b>Etablissement :</b> clinique l Ben arous</p>
  </div>

    <div class="col content">
  <div class="card parcours">
   <h5 style="text-align: center ; color: #3F6589">Parcours</h5>


    <p>Diplôme de docteur en médecine – Juin 2005 faculté de médecine de Tunis

    <p> Diplôme de médecin spécialiste en gynécologie obstétrique – Avril 2007 faculté de médecine de Tunis

    <p>Certificat de compétence en échographie de 12SA « The Fetal Medicine Foundation » – Londres Angleterre</p>

  </div>

  <div class="card parcours" style="text-align: justify ; margin-top: 1rem;">

    <h5 style="text-align: center ; color: #3F6589 ; margin-top: 1rem;">Expérience Professionnelle</h5>

    <p>Diplôme de docteur en médecine – Juin 2005 faculté de médecine de Tunis

     <p> Diplôme de médecin spécialiste en gynécologie obstétrique – Avril 2007 faculté de médecine de Tunis

    <p>Certificat de compétence en échographie de 12SA « The Fetal Medicine Foundation » – Londres Angleterre</p>
  </div>

  <div class="row btns">
    <button class="btn1">Supprimer</button>
    <button class="btn2">Valider</button>
  </div>
  </div>

</div>
