<app-header></app-header>
  <div class="col all-content">
   <h1>Les Meilleurs Chirurgiens En Tunisie</h1>
  <div class="col-md-6 desc">

  <p>
  Travaillant en collaboration avec les meilleurs chirurgiens plasticiens et généraux,
  votre agence de tourisme médical, Médical-travel, vous dédie cet espace pour la découverte de ses
  partenaires. Nous avons sélectionné des professionnels compétents et expérimentés
  dans leurs spécialités et domaines respectifs : orthopédistes, cardiologues, plasticiens, etc.
  </p>
  </div>

    <section>
      <div class="card"  *ngFor="let medecin of medecins" style="background-color: white!important;">
        <div class="img-bx">
          <img src="{{medecin.image}}" alt="img" />
        </div>
        <div class="content" style="margin-top: -2.5rem!important;">
          <div class="detail" >
            <h2>{{medecin.firstname}} {{medecin.lastname}}<br /><span>{{getSpecialiteWithoutBrackets(medecin.specialite)}}</span></h2>
            <ul class="sci">
              <li class="btn">
                <button (click)="voirDetails(medecin.id)">Voir detail</button>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </section>


</div>
