<app-header></app-header>
  <div class="col all-content">
   <h1>Les Meilleurs Chirurgiens En Tunisie</h1>
  <div class="col-md-6 desc">

  <p>
  Travaillant en collaboration avec les meilleurs chirurgiens plasticiens et généraux,
  votre agence de tourisme médical, Médical-travel, vous dédie cet espace pour la découverte de ses
  partenaires. Nous avons sélectionné des professionnels compétents et expérimentés
  dans leurs spécialités et domaines respectifs : orthopédistes, cardiologues, plasticiens, etc.
  </p>
  </div>


   <div class="row card-med">
       <div class="card card-content shadow-sm mb-5 bg-white rounded"
       *ngFor="let medecin of medecins">
         <div class="image">
           <img src="{{medecin.image}}">
         </div>
         <h5>{{medecin.firstname}} {{medecin.lastname}}</h5>
         <h5 >{{getSpecialiteWithoutBrackets(medecin.specialite)}}</h5>
         <div class="btn">
           <button (click)="voirDetails(medecin.id)">Voir detail</button>
         </div>

       </div>


   </div>

</div>
