<div class="col all-content">
  <h5>Messages</h5>
  <div class="card all-card">
    <div class="card one-card shadow-sm p-3 mb-5 bg-#FFF9F3rounded">
      <h3>Aminata Diango</h3>
      <h6 style="margin-top: 1rem">Chirurgie des valves cardiaque </h6>
      <h6 style="font-weight: bold">20.03.2023
        <span><i class="bi bi-calendar-date-fill" style="color: indianred ; float: right ;"></i></span>
      </h6>
      <div class="btn">
        <button  onclick="window.location.href ='detailMsgPatient';">Voir detail</button>
      </div>
    </div>

    <div class="card one-card shadow-sm p-3 mb-5 bg-#FFF9F3 rounded">
      <h3>Aminata Diango</h3>
      <h6>Chirurgie des valves cardiaque </h6>
      <h6 style="font-weight: bold">20.03.2023</h6>
      <div class="btn">
        <button  onclick="window.location.href ='detailMsgPatient';">Voir detail</button>
      </div>
    </div>


  </div>
</div>
