<h5 style="color: #1DA1F2 ; padding: 1rem" xmlns="http://www.w3.org/1999/html">Paramétre</h5>

<section style="background-color: transparent;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <form [formGroup]="changePhotoForm" (ngSubmit)="changePhoto()">
          <div class="card-body text-center" *ngIf="medecin">
            <img src="{{medecin.image}}" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <div class=" justify-content-center mb-2 mt-4">
              <input type="file" accept="image/*" (change)="onSelectFile($event)"  mt-4
              formControlName="image">
              <button type="submit" class="btn btn-primary mt-4" >changer photo</button>
            </div>
          </div>
          </form>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">

              <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                <h5 style="text-align: center ; color: #0066FF">Changer Mot De Passe</h5>
              </li>

            </ul>

          </div>
          <div class="container">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="oldPassword">Ancien Mot de passe:</label>
                <input type="password" class="form-control" formControlName="oldPassword" required>
                <div *ngIf="(changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty) && changePasswordForm.controls['oldPassword'].invalid" class="alert alert-danger">
                  <div *ngIf="changePasswordForm.controls['oldPassword'].errors?.['required']">Old password is required.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="newPassword">nouveau Mot de passe:</label>
                <input type="password" class="form-control" formControlName="newPassword" required>
                <div *ngIf="(changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty) && changePasswordForm.controls['newPassword'].invalid" class="alert alert-danger">
                  <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">new password is required.</div>

                  <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']">New password must be at least 6 characters long.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirme Mot de passe:</label>
                <input type="password" class="form-control" formControlName="confirmPassword" required>
                <div *ngIf="(changePasswordForm.controls['confirmPassword'].touched || changePasswordForm.controls['confirmPassword'].dirty) && changePasswordForm.controls['confirmPassword'].invalid" class="alert alert-danger">
                  <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']">confirm Password is required.</div>
                  <div *ngIf="changePasswordForm.hasError('passwordMismatch')">Passwords must match.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" style="width: 8rem ; margin-left:6rem;margin-bottom: 1rem">Changer</button>
            </form>
          </div>

        </div>
      </div>


      <div class="col-lg-8">
        <form  [formGroup]="MedecinForm">
        <div class="card mb-4">

          <div class="card-body">
            <div class="row">

              <div class="col-sm-3">
                <p class="mb-0">Nom</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="text-muted mb-0" formControlName="firstname" />
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Prénom</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="text-muted mb-0" formControlName="lastname" />
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <input class="text-muted mb-0" formControlName="telephone"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Specialité</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="text-muted mb-0" formControlName="specialite"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <input class="text-muted mb-0" type="text " formControlName="adresse" />
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Parcours</p>
              </div>

                <!-- For parcours form array -->
                <ng-container formArrayName="parcours">
                  <ng-container *ngFor="let parcoursFormGroup of parcours.controls; let index = index">
                    <div [formGroupName]="index">
                      <div class="form-row " style="justify-content: center;margin-top: 2rem">
                        <div>

                          <label  style="color: gray">Diploma:</label>
                          <input formControlName="diploma" type="text" required></div>
                        <div>
                          <label style="color: gray">Nom Compagnie:</label>
                          <input formControlName="establishment" type="text" required></div>
                        <div>
                          <label style="color: gray">Date:</label>
                          <input formControlName="field" type="text" required></div>
                      </div>
                    </div>
                    <div class="btn-add">
                      <button type="button" (click)="remove(index)">Supprimer parcours</button></div>

                  </ng-container>
                  <div class="btn-add">
                    <button type="button"  (click)="addNewParcours()"  >Ajouter parcours</button>
                  </div>
                </ng-container>

              </div>
            </div>
            <hr>
          <div class="row">
            <div class="col-sm-3" style="margin-left: 1rem">
              <p class="mb-0">Expérience</p>
            </div>

            <!-- For experience form array -->
            <ng-container formArrayName="experience">
              <ng-container *ngFor="let experienceFormGroup of experience.controls; let index = index">
                <div [formGroupName]="index">
                  <div class="form-row " style="justify-content: center;margin-top: 2rem">
                    <div>
                      <label style="color: gray">Nom Compagnie:</label>
                      <input formControlName="establishment" type="text" required></div>
                    <div>
                      <label  style="color: gray">Profession:</label>
                      <input formControlName="specialty" type="text" required></div>
                  </div>
                </div>
                <div class="btn-add" style="margin-left: 1rem">
                  <button type="button" (click)="removeEx(index)">Supprimer experience</button></div>

              </ng-container>
              <div class="btn-add" style="margin-left: 1rem ; margin-bottom: 1rem">
                <button type="button"  (click)="addNewExperience()"  >Ajouter experience</button>
              </div>
            </ng-container>

          </div>
        </div>

            <div>
              <button type="button" class="btn btn-primary">Mettre à jours</button>
            </div>

        </form>
      </div>

    </div>
  </div>
</section>
