.content{
  width:40rem ;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

p{
  text-align: justify;
}
.image{
  width: 40rem;
  height: 30rem;
  margin: auto;
}
.image img{
  width: 100%;
  height: 100%;
}
.contentimg{
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  background-color: transparent;
}
.btn button{
  width: 14rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius:15px;
  background-color: #1580EB;
  color: white;

}
.btn button:hover{
  background-color:white ;
  color: #1580EB;
  transition: 1s;
  border: 1px solid #1580EB;
}
.btn{
  border: none;
}

.btn2 button{
  width: 14rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius:20px;
  background-color: white;
  color: #1580EB;

  border: 1px solid #1580EB;


}

.btn2 button:hover{
  background-color:#1580EB ;
  color: white;
  transition: 1s;
  border: 1px solid #1580EB;
}

