.content{
  width:40rem ;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

p{
  text-align: justify;
}
.image{
  width: 40rem;
  height: 45rem;
  margin: auto;
}
.image img{
  width: 100%;
  height: 100%;
}
.contentimg{
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  background-color: transparent;
}
.btn button{
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  margin: auto;

}
.btn{
  border: none;
}
.btns  {
  width: 26rem;
  height: 2rem;
  margin: auto;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.btn2{
  width: 12rem;
  height: 2rem;
  background-color: #0066FF;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 1rem;
}

.btn2:hover{
  background-color: transparent;
  color: #0066FF;
  border: 1px solid #0066FF ;
  transition: 1s;
}
.btn1{
  width: 12rem;
  height: 2rem;
  background-color: transparent;
  color: #0066FF;
  border-radius: 10px;
  border: 1px solid #0066FF ;

}
.btn1:hover{
  background-color: #0066FF;
  color: #D2E9FF;
  border: none;
  transition: 1s;
}

