<app-header></app-header>

<div class="container">
  <div class="inputs">
    <label>EMAIL</label>
    <input type="email" placeholder="example@test.com" />
    <label>PASSWORD</label>
    <input type="password" placeholder="Min 6 charaters long" />
    <a href="" style="color: #0066FF; margin-left: 8rem; margin-top: 2rem !important;"  routerLink="/resetPassword" routerLinkActive="active">Mot de passe oublié </a>

    <button type="submit" routerLink="/formuleRndv" routerLinkActive="active">Connnexion</button>
    <button type="submit" class="btn2"  routerLink="/signPatient" routerLinkActive="active">Inscrire</button>
  </div>

</div>
