<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>


  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-8 col-lg-7">

      <!-- Area Chart -->
      <div class="card shadow mb-4" style="width:100%">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Demande la plus fréquente </h6>
        </div>
        <div class="card-body" style="display: flex ;flex-wrap: wrap; width: 850px !important; padding-left: 1rem;">

          <div class="flip-card"  >
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/image/chirugie.png" alt="Avatar" style="width:300px;height:300px;">

              </div>
              <div class="flip-card-back" >
                <h4>Chirurgie la plus requise:</h4>
                <h4 style="color: #2e59d9">" {{name}} "</h4>
                <h5><b style="color: #2e59d9" >{{count}}</b> patients qui  choisissent cette chirurgie.</h5>
              </div>
            </div>

          </div>
          <div class="flip-card">
            <div class="flip-card-inner" >
              <div class="flip-card-front" >
                <img src="../assets/image/doc.png" alt="Avatar" style="width:300px;height:300px;">

              </div>
              <div class="flip-card-back">
                <h4>Médecin le plus requis</h4>
                <h4 style="color: #2e59d9"> " {{d_firstname}} {{d_lastname}} "</h4>
                <h5><b style="color: #2e59d9" >{{d_count}}</b> rendez-vous  choisissent ce Médecin.</h5>
                <p>{{d_specialite}}</p>
              </div>
            </div>

          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/image/logo afrique.jpg" alt="" style="width:300px;height:300px;">

              </div>
              <div class="flip-card-back">
                <h4>pays le plus requis</h4>
                <h4 style="color: #0066FF">" {{city_name}} "</h4>
                <h5><b style="color: #2e59d9" >{{city_count}} </b>rendez-vous de même pays</h5>
              </div>
            </div>

          </div>

        </div>
      </div>



    </div>

  </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
<!--
<div
>
  <canvas id="doughnutChart" baseChart [data]="doughnutChartData" [options]="options"
          [type]="'doughnut'" ></canvas>
</div>-->
