.content{
  width:40rem ;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

p{
  text-align: justify;
}
.image{
  width: 40rem;
  height: 30rem;
  margin: auto;
}
.image img{
  width: 100%;
  height: 100%;
}
.contentimg{
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  background-color: transparent;
}
.btn button{
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  margin: auto;

}
.btn{
  border: none;
}

