
<div class="col">
  <div class="row" >
    <h3 style="color: #0066FF">Aminata Diango</h3>
    <h5 style="color: #3F6589">Chirurgie des valves cardiaques </h5>

    <div style="float: right">
    <span style="color: #336DA5">
      Email
    </span>
    <p >Aminto.Diango@gmail.com</p>
    </div>

  </div>
  <h6 style="font-weight: bold">20.03.2023
    <span><i class="bi bi-calendar-date-fill" style="color: indianred  ;"></i></span>
  </h6>
<div class="card content" >
  <h5 style="color: #3F6589">Description</h5>
  <p>
    apparaître des troubles l'affectant dans sa vie quotidienne. C'est à ce moment-là qu'une opération
    des valvules est envisagée.Selon les cas, on procède à la réparation chirurgicale de la valve
  </p>


</div>
  <div class="card contentimg" >
  <div class="image">
  <img src="../assets/image/istockphoto-1198973699-612x612.jpg">
</div>
    <div class="btn">
    <button >Télécharger image</button>
    </div>
  </div>
</div>
