<div class="col all-content">
<h5>Profile</h5>

  <div class="card first-info" *ngIf="medecin">
    <div class="image">
      <img src="{{medecin.image}}">
    </div>
    <h4 style="margin-top: 1rem">Docteur {{medecin.firstname}} {{medecin.lastname}}</h4>
    <h6 style="color: #0066FF" >{{medecin.specialite}}</h6>
  </div>

  <div class="card scnd-info">
    <h6>Email</h6>
    <p>{{medecin.email}}</p>
    <h6>Téléphone</h6>
    <p>+216{{medecin.telephone}}</p>
    <h6>Adresse</h6>
    <p>{{medecin.adresse}}</p>
  </div>
  <div class="card parcoursExp">
    <h5>Parcours</h5>
    <div class="card parcours shadow-sm p-3 mb-5 bg-#EAF9F8 rounded">
      <p *ngFor="let par of medecin.parcours">- {{par.field}} {{par.diploma}} ,  {{par.establishment}} </p>

    </div>

    <h5>Expérience professionnelle</h5>
    <div class="card parcours shadow-sm p-3 mb-5 bg-#EAF9F8  rounded">
      <p *ngFor="let exp of medecin.experience">- {{exp.specialty}} , {{exp.establishment}}</p>
    </div>


  </div>

</div>
