<div class="col all-content">
<h5>Profile</h5>

  <div class="card first-info">
    <div class="image">
      <img src="../assets/image/medcin4.jfif">
    </div>
    <h4 style="margin-top: 1rem">Docteur Ben Hasssen</h4>
    <h6 style="color: #0066FF" >chirurgie des valves cardiaque</h6>
  </div>

  <div class="card scnd-info">
    <h6>Email</h6>
    <p>BenHassen@gmail.com</p>
    <h6>Téléphone</h6>
    <p>+216 24308496</p>
    <h6>Adresse</h6>
    <p>tunis 6180</p>
  </div>
  <div class="card parcoursExp">
    <h5>Parcours</h5>
    <div class="card parcours shadow-sm p-3 mb-5 bg-#EAF9F8 rounded">
      <p>Diplôme de docteur en médecine – Juin 2005 faculté de médecine de Tunis</p>
      <p>Diplôme de médecin spécialiste en gynécologie obstétrique – Avril 2007 faculté de médecine de Tunis</p>
      <p> Certificat de compétence en échographie de 12SA « The Fetal Medicine Foundation » – Londres Angleterre</p>

    </div>

    <h5>Expérience professionnelle</h5>
    <div class="card parcours shadow-sm p-3 mb-5 bg-#EAF9F8  rounded">
      <p>2001-2005 formation de gynécologie obstétrique dans les hôpitaux de Tunis .</p>
     <p>2006-2007 interne dans le service de médecine fœtale de l’hôpital Necker Enfants Malades Paris</p>      <p>Diplôme de médecine fœtale – Octobre 2006 université de Paris V France</p>
      <p>2008 Médecin spécialiste en gynécologie obstétrique Hôpital Nabeul Tunisie .</p>
      <p>A partir de février 2009 Cabinet privé de gynécologie obstétrique</p>
    </div>


  </div>

</div>
