<section class="allContent">
  <div class="image">
    <img src="../assets/image/feedbackimage.png">
  </div>
  <div class="col divForm">
    <h3>Vous pouvez donner ton avis !</h3>
    <form [formGroup]="opinionForm" (ngSubmit)="addOpinion()" style="margin-top: 1rem">
      <input type="file" accept="image/*" (change)="onSelectFile($event)" class="form-control-file"
             id="exampleFormControlFile1" formControlName="image">
      <br>
      <input type="text" formControlName="patient" style="display: none">
      <textarea formControlName="message">

      </textarea>
      <br>
      <button type="submit">Envoyer</button>
    </form>

  </div>
</section>
