*{

  scroll-behavior: smooth;
}
a{
    color: #001B35;
}
.right{
  float: right !important;
}
.navbar {
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}
.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* Add other styles as needed */
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent; /* Change to the desired background color */
}
.navbar-nav > li:not(:last-child) {
  margin-right: 6rem; /* Adjust the margin value as needed */
}
.image{
  width: 3rem;
  height: 3rem;
  margin-left: 10rem;
  border-radius: 50%;


}

.image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 50%;
  margin-top: 0.3rem;
}

nav{
  height: 5rem;
  background-color: transparent !important;

  width: 100%;
  padding: 15px 50px;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1111;

  box-shadow: -1px 0px 0px #DDD;

}

nav:active{
  background: #FFFFFF !important;
  box-shadow: 1px 0px 0px #DDD;
}
