<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="background-color: white!important; height: 6rem!important; width: 100%;
">
  <div class="image">
    <img src="../assets/image/1-removebg-preview.png" >
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="justify-content: space-between !important; padding-left: 4rem;">
      <li class="nav-item active">
        <a class="nav-link" href="">Accueil</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link "  href="/chirurgie" style="color: #001B35;" >
          Services
        </a>

      </li>


      <li class="nav-item active">
        <a class="nav-link" href="/apropos">A Propos</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link "  style="color: #001B35;" (click)="navigateTo()">
          Espace Patient
        </a>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link



 " style="color: #001B35;"   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Espace Médecin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/inscrire">inscrire</a>
          <a class="dropdown-item" href="/authentifier">authentifier</a>
        </div>

      </li>
    </ul>
  </div>
</nav>
