*{

  scroll-behavior: smooth;
}
a{
    color: #001B35;
}
.right{
  float: right !important;
}
.image{
  width: 3rem;
  height: 3rem;
  margin-left: 10rem;
  border-radius: 50%;


}

.image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 50%;
  margin-top: 0.3rem;
}

nav{

  margin-top: 0.5rem;

  height: 3rem;
  background-color: transparent;

  width: 100%;
  padding: 15px 50px;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1111;

  box-shadow: -1px 0px 0px #DDD;

}

nav:active{
  background: #FFFFFF !important;
  box-shadow: 1px 0px 0px #DDD;
}
