<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important; width: 100%">
  <a class="navbar-brand" href="#">MTT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto " style="justify-content: space-between" >
      <li class="nav-item active">
        <a class="nav-link" href="#" >Acceuil <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color: #001B35 ;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/chirurgie">Chirurgies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sejours">Séjours</a>
        </div>
      </li>
       <li class="nav-item active">
         <a class="nav-link" href="#">A Propos <span class="sr-only">(current)</span></a>
       </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color: #001B35 ;" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Espace Médecin
        </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="inscrire">S'inscrire</a>
          <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="authentifier">S'authentifier</a>
     </div>

      </li>


    </ul>
  </div>
</nav>
