.all-content{
  width: 100%;
  height: 80rem;
  text-align: center;
  border: none;
}

.zoneRouge{
  margin-top: 4rem;
  width: 100%;
  height: 4rem;
  color: white;
  padding:1rem;
  background-color: #FF0000;
  text-align: center;
}
.contentimage{
  width: 100%;
  height: 28rem;
  background-image: url("https://img.freepik.com/premium-photo/close-up-doctor-front-bright-background_53419-4416.jpg?w=996");
  background-repeat: no-repeat;
  background-size: cover;
}
input{
  background-color: #F6F6F6!important;
  height: 1.5rem;
  border-radius: 8px;
  padding: 1rem;

}
label{
  float: left;
  margin-left: 2.3rem;
}
.card-form{
  border: none;
  width: 28rem;
  height: 60rem !important;
  margin: auto;
  border-radius: 15px !important;
  top: 40%;
}
.btn button{
  width: 12rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius:20px;
  background-color: #1580EB;
  color: white;
  padding-bottom:2rem;
  margin-top: 1rem;
  margin-left: 2rem;

}
.btn{
  border: none;
}
.btn button:hover{
  background-color:white ;
  color: #1580EB;
  transition: 1s;
  border: 1px solid #1580EB;
}
.btn2 button{
  width: 12rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius:20px;
  background-color: white;
  color: #1580EB;
  padding-bottom:2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border: 1px solid #1580EB;
  margin-bottom: 2rem;
}

.btn2 button:hover{
  background-color:#1580EB ;
  color: white;
  transition: 1s;
  border: 1px solid #1580EB;
}
