
<div class="col all-content">
  <h1>Les Chirurgiens de Chirurgie des valves cardiaque  </h1>

  <div class="row card-med">
    <div class="card card-content shadow-sm mb-5 bg-white rounded">
      <div class="image">
        <img src="../assets/image/medcin4.jfif">
      </div>
      <h5>nom medecin</h5>
      <h5>Specialté</h5>
      <p>description de medecin</p>
      <div class="btn">
        <button onclick="window.location.href ='detailParcoursMedecin';">Voir detail</button>
      </div>
    </div>

    <div class="card card-content shadow-sm mb-5 bg-white rounded">
      <div class="image">
        <img src="../assets/image/portrait-of-hansome-young-male-doctor-man.jpg">
      </div>
      <h5>nom medecin</h5>
      <h5>Specialté</h5>
      <p>description de medecin</p>
      <div class="btn">
        <button>Voir detail</button>
      </div>
    </div>

    <div class="card card-content shadow-sm mb-5 bg-white rounded">
      <div class="image">
        <img src="../assets/image/medcin3.jfif">
      </div>
      <h5>nom medecin</h5>
      <h5>Specialté</h5>
      <p>description de medecin</p>
      <div class="btn">
        <button>Voir detail</button>
      </div>
    </div>

  </div>

</div>
