.allCard{
  width:100%;
  height: auto;
  margin:auto !important;
  text-align: center;
  align-content: center;

}
.parcours{
  width: 45rem;
  height: 11rem;
  margin: auto;
  background-color: #D2E9FF;
  text-align: justify;
  padding: 0.5rem;

}
.image{
  width: 16rem;
  height: 12rem;
  margin: auto;
}
.image img{
  width: 100%;
  height: 100%;
}
.infotxt{
  width: 16rem;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  border: none;
  background-color: transparent;

}
.content{
  width: auto;
  height: 100%;
  margin: auto;
}
.btns  {
  width: 26rem;
  height: 2rem;
  margin: auto;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.btn2{
  width: 12rem;
  height: 2rem;
  background-color: #0066FF;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 1rem;
}
h4{
  color: #0066FF;
}
h5{ color: #5e72e4}
.btn2:hover{
  background-color: transparent;
  color: #0066FF;
  border: 1px solid #0066FF ;
  transition: 1s;
}
.btn1{
  width: 12rem;
  height: 2rem;
  background-color: transparent;
  color: #0066FF;
  border-radius: 10px;
  border: 1px solid #0066FF ;

}
.btn1:hover{
  background-color: #0066FF;
  color: #D2E9FF;
  border: none;
  transition: 1s;
}
