.all-content{
  width: 100%;
  height: 80rem;
  text-align: center;
  border: none;
  background: conic-gradient(from 45deg, #D2E9FF, #D2E9FF, #D2E9FF, #D2E9FF, #D2E9FF,#F6FCFB );
}

.zoneRouge{
  margin-top: 4rem;
  width: 100%;
  height: 4rem;
  color: white;
  padding:1rem;
  background-color: #FF0000;
  text-align: center;
}
.card-form{
  width: auto;
  height: auto;
  margin:-0.00px auto;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
}
.btn button{
  width: 14rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius:15px;
  background-color: #1580EB;
  color: white;
  padding-bottom:2rem;
}
.btn{
  border: none;
}
.btn button:hover{
  background-color:white ;
  color: #1580EB;
  transition: 1s;
  border: 1px solid #1580EB;
}
input{
  background-color: #F6F6F6!important;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 1rem;

}
label{
  float: left
}
h5{
  color: #0066FF;
  margin-bottom: 2rem;
}

.btn-add button{
  width: 10rem;
  height: 2rem;
  margin-top: 1.5rem;
  background-color: transparent;
  color: #0066FF;
  border: 1px solid #0066FF;
  border-radius: 8px;

}
.btn-add button:hover{
cursor: pointer;


}
.danger{
  width:14rem ;
  height: 1.5rem;
  background-color: rgb(231, 67, 67);
  color: rgb(155, 25, 25);
}
/* Style the select element */
select {
  /* Define font and font size */
  font-family: Arial, sans-serif;
  font-size: 16px;

  /* Define width and height */
  width: 200px;
  height: 40px;

  /* Remove default styling */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;


  /* Add padding and border */
  padding: 10px;
  border: 1px solid #ccc;

  /* Add hover effect */
  cursor: pointer;
}

/* Style the options within the select element */
select option {
  font-family: Arial, sans-serif;
  font-size: 16px;

  padding: 10px;

  cursor: pointer;

  background-color: #f8f8f8;
}

/* Style the select element when it is opened */
select:focus {
  /* Add custom focus styling */
  outline: none;
  border-color: #007bff; /* Replace with your desired color */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Replace with your desired color and box shadow properties */
}

