<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h5 class="h3 mb-2 text-gray-800">Dashboard</h5>


  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-8 " style="width: 600px; height: 230px; display: block;">

      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header " style="width:600x">
          <h6 class="m-0 font-weight-bold text-primary">nombre des rendez-vous par mois</h6>
        </div>
          <div class="chart-area">
            <div id="container" style="width: 600px; height: 250px; display: block;">


            </div>
          </div>

      </div>

      <!-- Bar Chart -->
      <div class="card shadow mb-4"style=" height: 350px" >
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Nombres des patients Female, Male, Total</h6>
        </div>

          <div class="chart-bar" style="width: 600px; height: 200px" >
            <div style="width: 600px; height: 250px">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                    ></canvas>
            </div>
          </div>



    </div>

    <!-- Donut Chart -->
  </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
