<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Charts</h1>


  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-8 col-lg-7">

      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">nombre des rendez-vous par mois</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="container" style="width: 800px; height: 400px; display: block;">


            </div>
          </div>
          <hr>
          Styling for the area chart
        </div>
      </div>

      <!-- Bar Chart -->
      <div class="card shadow mb-4" style="height: 32rem">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Nombres des patients Female, Male, Total</h6>
        </div>
        <div class="card-body">
          <div class="chart-bar" >
            <div>
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                    ></canvas>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Donut Chart -->
  </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
