/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.css";
@import "../node_modules/alertifyjs/build/css/themes/default.css";


body{
  font-family: "Dosis" !important;
  color: #001B35 !important;
}
a:hover{
  color: #0066FF !important;
  cursor: pointer;
  transition: 0.5s;
}
