/* You can add global styles to this file, and also import other style files */
body{
  font-family: dosis;
  color: #001B35 !important;
}
a:hover{
  color: #0066FF !important;
  cursor: pointer;
  transition: 0.5s;
}
