<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <form>
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #5e72e4;">Infomation Generale </h3>



                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">


                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev2">Nom</label>
                        <input type="text" id="form3Examplev2" class="form-control form-control-lg" />

                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev3">Prénom</label>
                        <input type="text" id="form3Examplev3" class="form-control form-control-lg" />

                      </div>

                    </div>
                  </div>



                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev5">Ville</label>
                        <input type="text" id="form3Examplev5" class="form-control form-control-lg" />

                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev6">Age</label>
                        <input type="text" id="form3Examplev6" class="form-control form-control-lg" />

                      </div>

                    </div>

                  </div>

                  <div class="row" style="margin-top: 2rem">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev7">Numéro téléphone</label>
                        <input type="text" id="form3Examplev7" class="form-control form-control-lg" />

                      </div>

                    </div>

                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                      <div class="form-outline">
                       <div><label class="form-label" for="form3Examplev8">Sexe</label></div>

                      <input type="radio" name="gender" value="male" id="form3Examplev8" style="margin-top: 1rem"> Male
                        <input type="radio" name="gender" value="female"> Female

                      </div>
                    </div>

                  </div>

                </div>
              </div>


              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Information Sensible</h3>

                  <div class="mb-6 pb-2 ">
                    <div class="form-outline form-white">
                      <div><label class="form-label" >Type de chirurgie</label></div>

                      <select >
                        <option >chirurgie des valves cardiaque</option>
                        <option>chirurgie orphépidique</option>
                        <option>chirurgie esthetique</option>
                      </select>
                    </div>
                  </div>

                  <div class="mb-6 pb-2 mt-4">
                    <div class="form-outline form-white">
                      <div><label class="form-label" >choisire Médecin</label></div>

                      <select>
                        <option >Docteur Ben Hassen</option>
                        <option>Docteur Mohammed karim </option>
                        <option>Docteur Maya rjab</option>
                      </select>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col-md-5 mt-4 mb-4 pb-2">
                      <label for="Customization">Reserver date</label>
                      <div class="md-form md-outline input-with-post-icon datepicker" id="customDays">
                        <input placeholder="Select date" type="date" id="Customization" class="form-control">

                      </div>

                    </div>

                    <div class="col-md-4 mb-4 ml-4 pt-4 mb-md-0 pb-md-0">
                      <div class="form-outline">
                        <div><label class="form-label" for="form3Examplev11">Type de sang</label></div>

                        <input type="radio" name="sang" value="A" id="form3Examplev11" > A
                        <input type="radio" name="sang" value="B"> B
                        <input type="radio" name="sang" value="AB">AB
                        <input type="radio" name="sang" value="O">O
                        <input type="radio" name="sang" value="inconnu"> inconnu

                      </div>
                    </div>

                    <div class="col-md-4 mb-4 ml-0 pt-4 mb-md-0 pb-md-0">
                      <div class="form-outline">
                        <div><label class="form-label" >Importer dossier</label></div>
                        <input type="file" class="file">


                      </div>
                    </div>

                  </div>

                  <div class="col-md-4 mb-4 ml-0 pt-4 mb-md-0 pb-md-0 " >
                    <div class="form-outline form-white">
                      <div><label class="form-label" >Votre poids</label></div>

                      <input type="number" >
                    </div>
                  </div>

                </div>
              </div>


              <button type="button" class="btn" >Prendre rendez-vous</button>

            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
