@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {

}

.bg-indigo {
  background-color: #5e72e4;
}
@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.btn{
  width: 12rem;
  margin: 2rem auto;
  background-color: #5e72e4;
  height: 2.5rem;
  color: white;
  text-align: center;
  border-radius: 20px;
}
.btn:hover
{
  color: #5e72e4;
  background-color: transparent;
  border: 1px solid #5e72e4;
  transition: 1s;
}

select{
  border-radius: 10px;
  color: #5e72e4;
  height: 2rem;
  width: 14rem;
  border: 1px solid  white;
  border: none;

}
option{
  color: black;
}
.file{
  width: 18rem;
  height: 2rem;
  border: 1px solid white;
  border: none;

}
