<div class="container col">
  <h2>Listes des comptes Médecins</h2>
  <div class="row">
    <div class="card one-card" *ngFor="let medecin of MedecinModel">
    <div class="row">

      <div class="col" style="margin-top: 1rem" >
        <h5> <i> <b>Dr {{medecin.firstname}} {{medecin.lastname}}</b></i></h5>
        <h6>{{getSpecialiteWithoutBrackets(medecin.specialite)}}</h6>
        <address>{{medecin.ville}}</address>
      </div>

      <div class="col">
        <div class="image">
           <img src="{{medecin.image}}">
        </div>
        <div class="row btn">
          <button (click)="seeDetails(medecin.id)" >Voir détail</button>

        </div>

      </div>
    </div>

    </div>

  </div>

</div>
